<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="inactive"><a ng-href="/">Accueil</a></li>
		<li ng-show="isAuthenticated()" class="inactive"><a ng-href="/myFriends">Mes amis</a></li>
		<li ng-show="isAuthenticated()" class="inactive"><a ng-href="/myWorkouts">Mes Séances</a></li>
		<li ng-show="isAuthenticated()" class="inactive" ><a ng-href="/" ng-click="logout()">Déconnexion</a></li>
		<li class="active"><a ng-href="about">A propos</a></li>
	</ul>
	<h3 class="text-muted">sportTracker!</h3>
</div>

<div ng-controller="UserCtrl" ng-show="isAuthenticated()">
	<ul class="nav nav-pills pull-right">
		<li class="inactive"><a ng-href="/myFriends">Mes amis</a></li>
		<li class="inactive"><a ng-href="/myWorkouts">Mes Séances</a></li>
	</ul>
</div>

<div class="row marketing">
	<h4>Cr&eacute;dits</h4>
	<p>Application r&eacute;alis&eacute;e par Laurent Legendre & Marc
		Favereau dans le cadre du cours de TAA de M2GL de L'ISTIC à
		l'Université de Rennes 1.</p>
	<h4>License</h4>
	<p align="justify">The MIT License (MIT) Copyright (c) 2014 Laurent Legendre & Marc
		Favereau Permission is hereby granted, free of charge, to any person
		obtaining a copy of this software and associated documentation files
		(the "Software"), to deal in the Software without restriction,
		including without limitation the rights to use, copy, modify, merge,
		publish, distribute, sublicense, and/or sell copies of the Software,
		and to permit persons to whom the Software is furnished to do so,
		subject to the following conditions: The above copyright notice and
		this permission notice shall be included in all copies or substantial
		portions of the Software. THE SOFTWARE IS PROVIDED "AS IS", WITHOUT
		WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
		THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE
		AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
		HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
		IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
		IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
		SOFTWARE.</p>
</div>
</form>

<div class="footer">
	<p>SportTracker est publié sous license MIT - Réalisé en M2GL@2014</p>
</div>