<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="inactive"><a ng-href="/">Accueil</a></li>
		<li ng-show="isAuthenticated()" class="inactive"><a ng-href="/myFriends">Mes amis</a></li>
		<li ng-show="isAuthenticated()" class="inactive"><a ng-href="/myWorkouts">Mes Séances</a></li>
		<li ng-show="isAuthenticated()" class="inactive" ><a ng-href="/" ng-click="logout()">Déconnexion</a></li>
		<li class="inactive"><a ng-href="about">A propos</a></li>
	</ul>
	<h3 class="text-muted">sportTracker!</h3>
</div>

<div ng-show="isAuthenticated()">
	<p> Vous êtes déjà connecté</p>
</div>

<div ng-show="!isAuthenticated()" ng-controller="UserCtrl">
	<form ng-submit="login()">
		<fieldset>
			<label>
				<span>Pseudo * </span>
				<input ng-model="user.pseudo" type="text" required />
			</label><br>
			<label>
				<span>Password * </span>
				<input ng-model="user.password" type="password" required />
			</label><br>
			<input class="btn-primary" type="submit" value="Se connecter !" />
		</fieldset>
	</form>
	<div ng-show="debug">
		Debug View:
		<pre>http status code: {{status}}</pre>
		<pre>http response data: {{data}}</pre>
		<pre>user={{user | json}}</pre>
	</div>

	</div>

<div class="footer">
	<p>SportTracker est publié sous license MIT - Réalisé en M2GL@2014</p>
</div>